@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url("design-images/background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
}

.landing-page img {
  width: 16%;
}

.landing-page-buttons {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  width: 80%;
}

.landing-page button {
  border-radius: 25px;
  margin-bottom: 5%;
  height: 5vh;
  border: 1px white solid;
  font-family: "Poppins";
  font-size: 1em;
}

.get-started-btn {
  background-color: white;
  color: #e40421;
}

.guest-btn {
  background-color: transparent;
  color: white;
}

nav {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  position: fixed;
  background-color: white;
  border-top: 0.5px solid #cbcbcb;
}

nav a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
}

.current-page {
  filter: invert(21%) sepia(93%) saturate(7465%) hue-rotate(356deg)
    brightness(80%) contrast(119%);
}

.sign-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sign-page h2 {
  width: 90%;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-form input {
  border-radius: 5px;
  height: 5vh;
  border: 1px #dddddd solid;
  width: 90%;
}

.sign-form label {
  margin-top: 4%;
  width: 90%;
}

.sign-button {
  width: 90%;
  margin-top: 6%;
  border: none;
  border-radius: 25px;
  height: 6vh;
  background-color: #ff0022;
  color: white;
}

.terms {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
}

.terms p {
  width: 90%;
}

.terms a {
  color: #ff0022;
}

.google-btn {
  margin-top: 6%;
  border-radius: 5px;
  height: 5vh;
  border: 1px #dddddd solid;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.google-btn img {
  margin-left: 4%;
  margin-right: 4%;
  height: 70%;
}

.sign-alternative {
  color: #797775;
}

.sign-alternative a {
  font: bold;
  color: #ff0022;
}

.home-page {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.home-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.home-body {
  overflow-y: scroll;
}

.search-bar {
  width: 80%;
  border: none;
  background-color: #f8f8f8;
  height: 50%;
  border-radius: 10px;
}

.home-categories {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0%;
  padding: 0%;
}

.category-link {
  text-decoration: none;
  color: black;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}

.category-link p {
  margin: 0;
  padding: 0;
}

.category-link img {
  background-color: #f8f8f8;
  border-radius: 100%;
  height: 70%;
}

.items-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  overflow-x: hidden;
}

.item-card {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.item-card a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.item-card img {
  width: 100%;
}

.item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.item-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-page-header {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1%;
}

.item-page-header img {
  margin-right: 93%;
  margin-bottom: 1%;
}

.item-images-container {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item-images-container img {
  width: 100%;
  height: 100%;
}

.item-page-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-details {
  background-color: #f8f8f8;
  width: 90%;
  padding: 3%;
}

.item-description {
  border-radius: 10px;
  background-color: white;
  border: 1px #797775 solid;
  padding: 3%;
}

.item-page-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  width: 90%;
  border: none;
  border-radius: 25px;
  height: 6vh;
  background-color: #ff0022;
  color: white;
}

.bidding-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

.secondairy-text {
  color: #84919a;
}
