@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  color: black;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url("design-images/background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: white;
}

.landing-page img {
  width: 16%;
}

.landing-page-buttons {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  width: 80%;
}

.landing-page button {
  border-radius: 25px;
  margin-bottom: 5%;
  height: 5vh;
  border: 1px white solid;
  font-family: "Poppins";
  font-size: 1em;
}

.get-started-btn {
  background-color: white;
  color: #e40421;
}

.guest-btn {
  background-color: transparent;
  color: white;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  bottom: 0;
  position: fixed;
  background-color: white;
}

nav a.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 15%;
  aspect-ratio: 1/1;
}

nav a.nav-link.active img {
  filter: invert(21%) sepia(93%) saturate(7465%) hue-rotate(356deg)
    brightness(80%) contrast(119%);
}

.sign-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #303940;
}

.sign-page h2 {
  font-weight: 600;
  width: 90%;
}

.input-key {
  font-weight: 500;
  color: #303940;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-form input {
  border-radius: 7px;
  height: 5vh;
  border: 1px #dddddd solid;
  width: 90%;
}

.sign-form label {
  margin-top: 4%;
  width: 90%;
}

.input-field {
  font-family: "Poppins", sans-serif !important;
  color: #84919a;
  padding-left: 10px;
}
.sign-button {
  width: 90%;
  margin-top: 6%;
  border: none;
  border-radius: 25px;
  height: 6vh;
  background-color: #ff0022;
  color: white;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

.terms {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
}

.terms p {
  width: 90%;
}

.terms a {
  color: #ff0022;
}

.google-btn {
  margin-top: 6%;
  border-radius: 5px;
  height: 5vh;
  border: 1px #dddddd solid;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.google-btn img {
  margin-left: 4%;
  margin-right: 4%;
  height: 70%;
}

.sign-alternative {
  color: #797775;
  font-size: 14px;
}

input[type="text"] {
  font-family: "Poppins", sans-serif !important;
}

.sign-alternative a {
  font-weight: 600;
  color: #ff0022;
}

.home-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 7fr 0.75fr;
}

.home-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.home-body {
  overflow-y: scroll;
  scrollbar-width: none;
}

.search-bar {
  width: 80%;
  border: none;
  background-color: #f8f8f8;
  height: 50%;
  border-radius: 10px;
}

.home-categories {
  padding-left: 30%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.category-link {
  text-decoration: none;
  color: black;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}

.category-link p {
  margin: 0;
  padding: 0;
  font-size: small;
}

.category-link img {
  background-color: #f8f8f8;
  border-radius: 100%;
  height: 70%;
}

.items-container {
  margin-top: 1%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
  overflow-y: hidden;
}

.item-card {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  font-size: small;
}

.item-card a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.item-card img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.item-name {
  margin: 0%;
  padding: 0%;
}

.item-page {
  height: 100%;
  display: grid;
  grid-template-rows: 7fr 1fr;
  overflow: hidden;
}

.item-page-header {
  z-index: 1000;
  width: 98%;
  height: 5%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
}

.blurry-circle {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  justify-self: start;
}

.favorite {
  justify-self: end;
}

.blurry-circle img {
  width: 60%;
  aspect-ratio: 1/1;
}

.item-page-body {
  display: grid;
  grid-template-rows: 1.1fr 1fr;
}

.item-images-container {
  aspect-ratio: 1/1;
  display: flex;
  background-color: violet;
}

.item-images-container img {
  width: 100%;
  aspect-ratio: 1/1;
}

.item-details {
  padding: 2.5%;
  background-color: #f8f8f8;
}

.item-description {
  border-radius: 10px;
  background-color: white;
  border: 1px #c7c8ce solid;
  padding: 3%;
  display: flex;
  flex-direction: column;
  height: 40%;
}

.description-text {
  height: 100%;
  color: #5b6871;
  font-weight: 300;
  margin: 0%;
  padding: 0%;
  font-size: 96%;
}

.description-title {
  font-size: 100%;
  font-weight: 500;
  color: #42505a;
  margin: 0px;
  padding: 0px;
  margin-bottom: 2%;
}

.item-page-footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  width: 90%;
  border: none;
  border-radius: 25px;
  height: 6vh;
  background-color: #ff0022;
  color: white;
}

.action-button:disabled {
  background-color: #ddd;
  color: #aaa;
}

.bidding-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-text {
  color: black;
  margin: 0%;
  padding: 0%;
}

.secondary-text {
  margin: 0%;
  padding: 0%;
  font-size: 70%;
  color: #84919a;
}

.grey-1 {
  color: #9aa6ac;
  font-size: 90%;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

.boldnbig {
  font-size: 110%;
  font-weight: 600;
  color: #42505a;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.bids-count {
  color: #5b6871;
  font-weight: 300;
  padding-top: 0px;
  margin-top: 0px;
}

.activity-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 7fr 0.75fr;
}

.activity-page header {
  text-align: center;
}

.activity-header {
  font-weight: 500;
  color: #2d3841;
}

.activity-page header button {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.activity-page header p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 40%;
}

.toggle-buttons {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  border-bottom: #ededed 1px solid;
  font-family: "Poppins", sans-serif !important;
}

.toggle-buttons button {
  width: 35%;
  height: 70%;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  color: #6a7c88;
  font-size: 14.5px;
}

.toggle-buttons .active {
  border-bottom: #ff0022 3px solid;
  color: #ff0022;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}
.activity-page main {
  overflow-y: scroll;
  scrollbar-width: none;
}

.auctions-search-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}

.auctions-search-filter input {
  width: 80%;
  height: 60%;
  border-radius: 20px;
  border: none;
  background-color: #f8f8f8;
}

.auctions-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.auction-box {
  margin-bottom: 3%;
  display: grid;
  grid-auto-rows: 35%;
  height: 100%;
  row-gap: 3%;
}

.auction-box {
  height: 100%;
  justify-self: center;
  width: 90%;
  background-color: white;
  display: grid;
  grid-template-rows: 3fr 1fr;
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.auction-box-item-image {
  width: 35%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  display: grid;
  justify-items: start;
}

.currency {
  font-weight: 500;
}

.auction-box-header {
  height: auto;
  padding: 4%;
  display: flex;
  align-items: center;
  gap: 5%;
  padding-left: 9.9%;
  margin-right: 7%;
}

.auction-box-footer {
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.auction-box-footer p {
  font-size: small;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link {
  text-decoration: none;
  color: none;
  display: none;
}

/* for listing table and admin listing  */
.admin-page {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.content {
  flex: 1;
  padding: 40px 30px;
  background-color: #f9f9f9;
  margin: -12px 70px 1px 70px;
}

.content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #303940;
  margin-bottom: 30px;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 25px;
}

.filter-buttons button {
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #ececec;
  color: #767676;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-buttons button:focus {
  background-color: #fff5f6;
  color: #f90002;
  border-color: #f90002;
}

.filter-buttons button.active {
  background-color: #f21731;
  color: #fff;
  border-color: #f21731;
}

.listings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listing-row {
  display: grid;
  grid-template-columns:
    50px
    minmax(150px, 250px)
    minmax(120px, 1fr)
    minmax(120px, 1fr)
    120px
    minmax(160px, 240px)
    100px;
  align-items: center;
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  column-gap: 16px;
}

.listing-row {
  font-weight: 600;
  background-color: #ffffff;
  cursor: default;
}
.header {
  display: grid;
  grid-template-columns:
    50px
    minmax(150px, 250px)
    minmax(120px, 1fr)
    minmax(120px, 1fr)
    120px
    minmax(160px, 240px)
    100px;
  align-items: center;
  padding: 10px 16px;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  column-gap: 16px;

  font-weight: 600;
  background-color: #ffffff;
  cursor: default;
  border-bottom: #f4f4f4 2px solid;
}

.listing-header-cell {
  color: #303940;
}

.listing-row:hover {
  background-color: #ececec;
  transition: 0.07s;
}

.listing-status.approved {
  background-color: #d1f7dc;
  color: #21c36f;
  border-radius: 8px;
  text-align: center;
  padding: 2px 6px;
}

.listing-status.pending {
  background-color: #fff4d1;
  color: #f2b01e;
  border-radius: 8px;
  text-align: center;
  padding: 2px 6px;
}

.listing-status.rejected {
  background-color: #f7d1d1;
  color: #f21731;
  border-radius: 8px;
  text-align: center;
  padding: 2px 6px;
}

.listing-row span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* for ListingTable.jsx end here */

/* for AdminNav start */
.content p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #84919a;
  margin-top: 20px;
}
.admin-nav {
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 100vh;
  background-color: #1e3a8a;
  color: white;
  padding: 10px 20px;
}

.admin-nav-out {
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 100vh;
  background-color: #1e3a8a;
  color: white;
}

.admin-nav-out .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.admin-nav-out .logo .red-text {
  color: #dc2626;
  margin-top: 40px;
}

#logout-btn {
  color: #dc2626;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
  font-weight: bold;
  background-color: #b91c1c;
  color: white;
  padding: 12px 29px;
}

#logout-btn:hover {
  background-color: white;
  color: #b91c1c;
}
.admin-nav-out .new-admin-btn,
.admin-nav-out .logout-btn {
  background-color: white;
  color: #dc2626;
  padding: 0.7rem 1.3rem;
  border-radius: 0.45rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
  font-weight: bold;
}

.admin-nav-out .new-admin-btn:hover,
.admin-nav-out .logout-btn:hover {
  background-color: #b91c1c;
  color: white;
}

.admin-nav-out nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.admin-nav-out nav button {
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-nav-out .spacer {
  flex-grow: 1;
}

.admin-nav-out nav span:hover {
  background-color: #1e3a8a;
}
span.sp1 {
  margin-left: 1%;
}
span.sp2 {
  margin-left: -9%;
}
span.sp3 {
  margin-left: -5%;
}
span.sp4 {
  margin-left: -7%;
}
span.sp5 {
  margin-left: -8%;
}

/* for AdminNav end */

/* AdminListingDetails.jsx start from */
.admin-layout {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}
.action-buttons {
  display: flex;
  flex-direction: column;
}
.action-buttons button {
  padding: 10px 80px;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  color: #d1f7dc;
  border: #2d3841 solid 0px;
  margin: 5px 10px;
  width: 300px;
}
.approve-btn {
  background-color: #1d3566;
}
.reject-btn {
  background-color: #f90002;
}
.pending-btn {
  background-color: #cca824;
}

.approve-btn:hover {
  background-color: #15274a;
}
.reject-btn:hover {
  background-color: #d10303;
}
.pending-btn:hover {
  background-color: #9b7f1b;
}
.admin-content {
  max-width: 24%;
  max-height: none;
  margin: 6% 12% 2% 12%;
}
.images {
  max-width: 400px;
  margin: 8% 10% 2% 2%;
}
.category-name-blue {
  color: #1d3566;
  margin-bottom: -30px;
}
.category-name-black {
  color: #000000;
  font-size: xx-large;
  margin-bottom: -10px;
}
.listing-title-in-p {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #303940;
  margin: -10px 1px 40px 1px;
}
.listing-description {
  margin-top: 90px;
}

.large-image-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.large-listing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.thumbnails .listing-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.thumbnails .listing-img:hover {
  border-bottom: 2px solid #9b9b9b;
}

/* AdminListingDetails.jsx end at */
.watch-list-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  row-gap: 3%;
}

.watchlist-box {
  border-radius: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.watchlist-box-header {
  width: 100%;
  height: 65%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  margin-bottom: 2%;
}

.watchlist-box-footer {
  width: 100%;
  height: 35%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
}

.watchlist-box-footer p {
  font-size: small;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchlist-action-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  padding: 5%;
}

.watchlist-action-box button {
  background-color: #f8f8f8;
  border: none;
  justify-self: center;
  align-items: center;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 80%;
}

.watchlist-action-box button img {
  width: 100%;
}

.active-bookmark {
  filter: invert(21%) sepia(93%) saturate(7465%) hue-rotate(356deg)
    brightness(80%) contrast(119%);
}

.watchlist-item-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.watchlist-item-name p {
  font-size: small;
}

.watch-list-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
}

.sell-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 7fr 0.75fr;
}

.sell-page header {
  text-align: center;
}

.sell-page header p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 40%;
}

.sell-page main {
  overflow-y: scroll;
  scrollbar-width: none;
}

/*AddAdminAccounts.jsx style start */
.AdminListingDetails-container {
  background-color: #1d3566;
  margin: -6px;
}

.both-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 25px;
}
.logo1-AdminListingDetails {
  width: 10%;
}
.logo2-AdminListingDetails {
  width: 10%;
}

.add-admin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  background-color: #ffffff;
  margin: 0 0 80px 0;
  max-width: 380px;
  width: 100%;
  height: auto;
  border-radius: 3%;
  padding: 30px 40px;
}

.add-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 100%;
}
.sign-button-admin {
  width: 100%;
  border: none;
  border-radius: 25px;
  height: 7vh;
  background-color: #f21731;
  color: white;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}
.pp {
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0 15px 0;
  text-align: left;
  width: 100%;
  color: #000000;
}
.terms-admin {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
}
.lock-img {
  padding: 2px 5%;
}
.input-key-admin {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 8px 1px;
}
.input-field-admin {
  font-family: "Poppins", sans-serif;
  color: #84919a;
  padding: 10px 100px 10px 10px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  width: auto;
}

/*AddAdminAccounts.jsx style end */

.item-form {
  height: 100%;
}

.item-step {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.category-grid {
  gap: 2.5%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  border: 1px #dddddd solid;
  border-radius: 10px;
}

.category-item.active {
  border: #ff0022 1px solid;
  background-color: #ffe5e8;
}

.category-item p {
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  font-size: x-small;
  width: 100%;
  padding-left: 7.5%;
}

.category-item img {
  height: 70%;
  width: 50%;
}

.name-field {
  width: 102.5%;
  height: 7.5%;
  border-radius: 10px;
  border: 1px #ddd solid;
  font-family: "Poppins", sans-serif !important;
  resize: none;
}

.description-field {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: baseline;
}

.description-field p {
  margin: 5% 0 0 0;
  padding: 0%;
  margin-right: auto;
}

textarea {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  border: 1px #ddd solid;
  padding: 2%;
  font-family: "Poppins", sans-serif !important;
  resize: none;
}

.item-step-header {
  row-gap: 20%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.item-step-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  body {
    overflow-y: scroll;
  }
  nav {
    align-items: center;
  }
  .admin-layout {
    overflow-y: hidden;
  }
}

.bidding-limit-container {
  border: solid #e2e2e2 1px;
  margin: 5%;
  left: calc(50% - 386px / 2);
  border-radius: 20px;
}

.your-bidding-limit-text {
  color: #2d3841;
  font-weight: 500;
  margin-top: 1%;
}

.your-bidding-limit-inner-container {
  margin: 2%;
  padding: 4%;
  height: 20vh;
}

.bidding-limit-container-footer {
  background-color: #f8f8f8;
  padding: 0px;
  left: calc(50% - 385px / 2 + 0.5px);
  border-radius: 0px 0px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bidding-limit-footer-text {
  padding-left: 11%;
}

.bidding-top-up-button {
  padding-left: 8%;
  padding-right: 8%;
  margin: 10%;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 21.5px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}

.graph-chart {
  height: 190px;
  width: 50px;
}

.your-bidding-limit-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 8%;
}

.tiny-text {
  color: #323232;
  font-size: 80%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.less-tiny-text {
  color: #2d3841;
  font-weight: 500;
  padding-top: 0;
  margin-top: 0;
}

.less-tiny-text-inside {
  color: #2d3841;
  font-weight: 500;
}

.top-up-div {
  display: flex;
  justify-content: end;
  font-weight: 400;
}

.deposited-amount {
  padding-top: 0;
  margin-top: 0;
}

.red-text {
  color: #f90002;
}

.lighter-grey {
  color: #6a7c88;
}

.bold-button {
  font-weight: 500;
}
.profile-page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 7fr 0.75fr;
  color: #2d3841;
}

.profile-page a {
  text-decoration: none;
  color: #2d3841;
}

.profile-page header {
  text-align: center;
  display: grid;
}

.profile-details {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  color: #2d3841;
}

.profile-user-details {
  display: flex;
  padding-left: 5%;
}

.profile-details img {
  border-radius: 100%;
}

.profile-username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-left: 5%;
}

.profile-footer {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.profile-footer div {
  border-bottom: #ededed 1px solid;
  width: 100%;
  display: flex;
  column-gap: 2.5%;
}

.under-line-text {
  color: #ff0022;
  text-decoration: underline;
}

.change-password-page {
  display: grid;
  grid-template-rows: 1fr 4fr 4fr;
}

.change-pass-header-container {
  font-weight: 500;
  color: #2d3841;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 9%;
}

.change-pass-header {
  display: flex;
  align-items: center;
  padding-left: 19px;
}
.change-pass-header-container img {
  align-self: center;
  padding-left: 15px;
}

.less-tiny-header {
  color: #403e3a;
  padding-left: 5%;
  font-weight: 600;
  font-size: 14px;
}

.tiny-header-words {
  color: #706e6b;
  font-weight: 300;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
}

.bottom-indentation {
  padding-bottom: 7px;
}

.side-indentation {
  margin-left: 5%;
}

.change-pass {
  border-radius: 7px;
  height: 5vh;
  border: 1px #dddddd solid;
  width: 85%;
}

.field-bottom-indentation {
  margin-bottom: 7px;
}

.change-password-submit {
  width: 90%;
  margin-top: 6%;
  border: none;
  border-radius: 25px;
  height: 6vh;
  background-color: #ff0022;
  color: white;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  margin-left: 20px;
}

.info-box {
  background-color: #fff6e4;
  color: #ffa000;
  border: #ffe2a9 1px solid;
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 5%;
  border-radius: 15px;
}

.top-padding {
  margin-top: 2%;
  font-weight: 400;
  font-size: 14px;
  color: #ff0022;
}

/* admin dashboard start */
.Admin-dashboard-container {
  height: 92vh;
  width: 190vh;
  padding: 2rem;
  background: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: -47% 20% -195% 13%;
}

.Dashboard-title {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #303940;
  margin-bottom: 10px;
  margin-left: 2%;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.Total-listed-items {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1.8rem;
  height: auto;
  width: auto;
  margin-left: 6%;
  margin-right: 10%;
  box-shadow: 5px 5px 10px rgba(97, 97, 97, 0.079);
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
.aproved-items {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1.8rem;
  height: auto;
  width: auto;
  margin-left: -11%;
  margin-right: 25%;
  box-shadow: 5px 5px 10px rgba(97, 97, 97, 0.079);
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}
.rejected-items {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1.8rem;
  height: auto;
  width: auto;
  margin-left: -25%;
  margin-right: 40%;
  box-shadow: 5px 5px 10px rgba(97, 97, 97, 0.079);
  grid-column: 5 / 7;
  grid-row: 2 / 4;
}

.total-users {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1.6rem;
  height: auto;
  width: auto;
  margin-left: 4%;
  box-shadow: 5px 5px 10px rgba(97, 97, 97, 0.079);
  grid-column: 1 / 4;
  grid-row: 4 / 7;
}

.all-biddings-over-time {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1.6rem;
  height: auto;
  width: auto;
  margin-right: -14%;
  box-shadow: 5px 5px 10px rgba(97, 97, 97, 0.079);
  grid-column: 4 / 6;
  grid-row: 4 / 7;
}
.p-in-dashbaard {
  font-size: 15px;
  margin: 1% 1% -5% 0%;
  color: #9291a5;
}
.p-in-dashbaard-user {
  font-size: 15px;
  margin: 1% 1% -3% 0%;
  color: #9291a5;
}
.total-users-title {
  position: absolute;
  /* margin: 0% 0% 0% 0%; */
  left: 34%;
  top: 83%;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}
.pie-chart {
  margin: 5% 0% 0% 0%;
}
hr {
  border: #00000017 solid 0.1px;
  margin: 1px 2px;
}
.Responsive-Container-1 {
  position: absolute;
  top: 32%;
  left: 27%;
}
.Responsive-Container-2 {
  position: absolute;
  top: 32%;
  left: 53%;
}
.Responsive-Container-3 {
  position: absolute;
  top: 32%;
  left: 79%;
}

/* admin dashboard end */

.images-step-body {
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  row-gap: 5%;
  padding: 5%;
}

.images-step-body label {
  background-color: #eef0f2;
  color: #aeb9c0;
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.images-step-body input[type="file"] {
  display: none;
}

.preview-container {
  display: flex;
  align-items: baseline;
}

.preview-container img {
  width: 25%;
  aspect-ratio: 1/1;
}

.price-step-body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  padding: 5%;
  row-gap: 5%;
  padding-top: 0%;
}

.price-box {
  border: #ff0022 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  padding: 5%;
  height: 45%;
}

.price-box-body {
  display: flex;
  flex-direction: column;
  row-gap: 10%;
}

.price-box p {
  width: 85%;
  padding: 0%;
  margin: 0%;
}

.price-input-box {
  display: flex;
  height: 25%;
  align-items: center;
  justify-content: center;
  padding: 3%;
  border-radius: 15px;
  border: none;
  font-family: "Poppins", sans-serif !important;
}

.price-input-box button {
  background-color: #f8f8f8;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  aspect-ratio: 1/1;
}

.price-input-box button img {
  width: 50%;
  height: 50%;
}

.price-input {
  height: 70%;
  width: 60%;
  padding: 0%;
  text-align: center;
  border: none;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.notif-container {
  font-family: BlinkMacSystemFont, sans-serif;
  font-weight: 550;
  background: rgba(171, 171, 171, 0.4);
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 2cap;
}

.notif-upper-label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.notif-main-text {
  display: grid;
  justify-content: left;
  align-items: left;
  color: #000000;
  opacity: 100 !important;
  margin-top: 10px;
}

.notif-secondary-text {
  color: rgba(0, 0, 0, 0.36);
  font-size: small;
  font-weight: 500;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgb(76, 76, 76, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
}

.modal-content {
  background: white;
  width: 100%;
  height: 85%;
  border-radius: 25px;
  text-align: center;
  display: grid;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 3fr;
  padding: 0%;
}

.modal-content div {
  padding: 0 2.5% 0 2.5%;
}

.modal2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
}
.modal-content2 {
  background: white;
  padding: 20px;
  width: 100%;
  margin-top: 140%;
  height: 57%;
  border-radius: 15px;
  text-align: center;
}

.modal-header,
.modal-auto-bidding {
  display: flex;
  align-items: center;
  font-size: 19px;
  border-bottom: #d5dadd 1px solid;
}

.auto-bid-info {
  display: flex;
  align-items: center;
}

.auto-bid-info img {
  margin-bottom: 2px;
  margin-left: 6px;
}

.modal-header p {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 5%;
  color: #303940;
  font-weight: 500;
}
.modal-auto-bidding p {
  font-size: 17px;
  font-weight: 500;
  color: #303940;
}

.modal-sentence {
  padding-left: 30px;
  padding-right: 30px;
  color: #2d3841;
  font-weight: 300;
}

.bidding-time2 {
  font-size: 13px;
  color: #666666;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

.terms {
  margin: 0 auto;
}

.terms p {
  text-align: left;
  color: #84919a;
  width: 100%;
  font-weight: 400;
}
.terms span {
  color: black;
  text-decoration: underline;
  margin: 0 auto;
}

.minus_button,
.plus_button {
  all: unset;
}

.modal-bid-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.modal-bid-amount span {
  font-size: 24px;
  font-weight: 600;
  color: #303940;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.modal_header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  font-size: 19px;
}
.modal_header2 p {
  color: #2d3841;
  font-weight: 600;
  margin-right: 39%;
}
.auto-bid-text {
  font-weight: 500;
}
.modal_header2 button {
  all: unset;
  margin-left: -15px;
}
/* From Uiverse.io by zanina-yassine */
/* Remove this container when use*/
.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}

/* The switch - the box around the slider */
.container {
  width: 51px;
  height: 31px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: red;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}

.edit-profile-button {
  font-size: 80%;
  font-weight: 450;
}

.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.empty-page img {
  max-width: 100%;
  height: auto;
}

.countdown {
  margin-right: 24px;
}
.countdown-num {
  font-weight: 600;
  color: #303940;
  font-size: 19px;
  margin-right: 5px;
  margin-left: 15px;
}
.countdown-label {
  font-weight: 300;
  color: #5b6871;
  font-size: 10px;
}
.auto-bid-labels {
  font-size: 16px;
  color: #2d3841;
  font-weight: 400;
}

.seller-items-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  align-items: center;
}

.seller-item-box {
  border-radius: 15px;
  width: 90%;
  height: 400px;
  /* display: grid; */
  /* grid-template-rows: 3fr 1fr; */
  background-color: #f90002;
}

.seller-box {
  margin-bottom: 3%;
  display: grid;
  grid-auto-rows: 35%;
  height: 100%;
  row-gap: 3%;
}

.seller-box {
  height: 100%;
  justify-self: center;
  width: 90%;
  background-color: white;
  display: grid;
  grid-template-rows: 3fr 1fr;
  border-radius: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.seller-box-item-image {
  width: 35%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  display: grid;
  justify-items: start;
}

.seller-box-header {
  height: auto;
  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5%;
}

.seller-box-footer {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f8f8;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.seller-box-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 100%;
}

.seller-box-footer p {
  justify-self: baseline;
  font-size: small;
  margin: 0;
  padding: 0 0 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-box {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  height: 100%;
  padding-top: 5%;
}

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  padding: 5%;
  border-radius: 10px;
}

.pending {
  color: #cf8b2c;
  background-color: #fcf3d9;
}

.approved {
  color: #39c18f;
  background-color: #d8f8eb;
}

.rejected {
  color: #cf2c3d;
  background-color: #fcd9df;
}

.seller-box-footer input {
  border: none;
  background-color: transparent;
  width: 55%;
  margin-left: 35%;
}
